@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project was a pain in the ass - I have spent countless hours just trying to connect my db to the solution, only to figure out at the end of the day, it was just a bug in visual stuido 2022 that prevented me from connecting to the db via a connection string. So I had to connect it manually via CLI - which I had to learn since I had no idea how to do that. And then, the rest was rather easy. The solution in very crampy, but it works and I don't want to spent any more time on this. I even considered "giving up" and saying to my teacher that I am not capable of doing this. But I knew I was. So I kept struggling on. I was even scared that I will get a 5 on Informatics, because I haven't delivered on time. I have no idea how this will go... Have a nice day dear reader!</p>
</div>
